.father {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  align-content: space-around;
  height: 200vh;
  flex-wrap: nowrap;
}

.child {
  width: 300px;
  height: 200px;
  background-color: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background-color: #000;
  flex-grow: 2;
}
.child:nth-child(3) {
  flex-grow: 1;
}
